<mat-toolbar role="heading" color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Split Fair</span>
</mat-toolbar>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="square-toolbar">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <ng-content />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
